:root{
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Noto Serif', serif;
    --fuenteTitular: 'Playfair Display', serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */
body{
    font-size: 1.6rem;
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}


h1, h2, h3{
    font-family: var(--fuenteTitular);
    color: var(--negro);
}

p{
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    font-size: 1.8rem;
    text-transform: capitalize;
}
img{
    max-width: 160px;
}

.container{
    max-width: 90%;
    margin: auto;
}

@media (min-width: 768px) {
    .container{
        max-width: 80%;
    }
}

/* HEADER */
.detalles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35rem;
}

.detalles_titulo{
    font-size: 4.5rem;
    margin-left: 3rem;
}
@media (min-width: 768px) {
    .detalles_titulo{
        font-size: 3.8em;
    }
}

.detalles_img{
    border-radius: 50%;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .detalles_img{
        min-width: 180px;
    }
}

.detalles_info{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 5px 0px 3px rgba(0,0,0,0.6);
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: #FFEFBA solid;
}

@media (min-width: 768px) {
    .detalles_info{
        text-align: center;
    }
}

/* NAVEGADOR */
.navegador{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.navegador_obj{
    padding: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--negro);
}

.navegador_obj:hover{
    cursor: pointer;
    background-color: burlywood;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 20%;
}

/* MAIN */
.contenedor{
    display: flex;
    justify-content: space-between;
}

.misDatos{
    display: flex;
    flex-direction: column;
    border: #FFEFBA solid;
    width: 100%;
    padding: 2rem;
}

.datos p{
    text-align: center;
}