:root{
    --blanco: #fff;
    --negro: #000;
    --secundario: #FFEFBA;
    --fuentePrincipal: 'Noto Serif', serif;
    --fuenteTitular: 'Playfair Display', serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */
body{
    font-size: 1.6rem;
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

h1, h2, h3{
    font-family: var(--fuenteTitular);
    color: var(--negro);
}

h3{
    text-transform: capitalize;
}

hr{
    border: var(--secundario) outset;
}

p{
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    font-size: 1.8rem;
    text-transform: capitalize;
}

.container{
    display: block;
    max-width: 90%;
    min-width: 480px;
    margin: auto;
}

@media (min-width: 768px) {
    .container{
        max-width: 80%;
    }
}

/* HEADER */
.encabezado{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    height: 80vh;
}

.encabezado_titulo{
    font-size: 4.5rem;
    margin: auto;
}
@media (min-width: 768px) {
    .encabezado_titulo{
        font-size: 3.8em;
    }
}

@media (min-width: 360px) {
    .encabezado_titulo{
        font-size: 2.8em;
    }
}

.encabezado_img{
    border-radius: 50%;
    margin-top: 3rem;
    max-width: 160px;
}

.encabezado_img2{
    margin-top: 3rem;
    max-width: 160px;
}

@media (min-width: 768px) {
    .encabezado_img{
        min-width: 180px;
    }
}

.encabezado_frase{
    grid-column: 1 / 4;
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 0px 2px rgba(0,0,0,0.6);
    padding-bottom: 1.5rem;
    text-transform: none;
}

@media (min-width: 768px) {
    .encabezado_info{
        text-align: justify;
    }
}

/* NAVEGADOR */
.navegador{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
    height: auto;
    padding: 1rem;
    background-color: darkgray;
    border-radius: 5%;
}

.navegador_obj{
    padding: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--blanco);
}

.navegador_obj:hover{
    cursor: pointer;
    background-color: var(--secundario);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 25%;
    color: var(--negro);
}

/* MAIN */
.contenedor{
    margin-top: 1rem;
}

.misDatos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}


.misDatos_pers p {
    font-size: 2.5rem;
    background-color: goldenrod;
}

.datos p{
    text-align: center;
}

.datos h3{
    font-size: 2rem;
}

.correo p {
    text-transform: none;
}

.titulos{
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}

.titulo{
    padding-top: 0.1rem;
}

.prueba{
    display: block;
}

.titulo h3{
    text-decoration: underline;
}

.img_titulos img{
    display: block;
    border-radius: 25%;
    max-width: 100%;
    margin: 0 auto;
}


/* EXPERIENCIA LABORAL */
.laboral{
    margin: auto;
    height: 100vh;
}

.trabajoTop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
    text-align: center;
}

@media (max-width: 480px ) {
    .trabajoTop{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.imgLaboral img{
    display: block;
    border-radius: 15%;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 480px ) {
    .imgLaboral img{
        display: none;
    }
}

.trabajo{
    padding: 1rem;
    margin: auto;
}

.trabajo h3{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .trabajo h3{
        font-size: 2.5rem;
    }
}


/* SECTION CONOCIMIENTOS */
.conocimientos{
    margin: 4rem 0;
    height: 100vh;
}

.aprendizaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
}

.conocimientos h3{
    font-size: 3rem;
}

.conocimientos li{
    font-size: 2.5rem;
    line-height: 4rem;
    color: rgb(249, 2, 2);
}

.estudios{
    margin-left: 4rem;
}

.centImg{
    grid-column: 1 / 3;
    text-align: center;
    border-radius: 15%;
    max-width: 100%;
    margin: 0 auto;
}

.imgNoteb{
    margin: 2rem;
    width: 40rem;
}

/* CONTACTO */
.error{
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.exito{
    background-color: rgb(12, 223, 33);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

#formulario{
    background-color: darkgrey;
    margin: 0 auto;
    padding: 2rem;
}

#formulario fieldset{
    border: none;
}

#formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 2rem;
        column-gap: 1rem;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo textarea{
    height: 20rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.boton{
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 15%;
    width: 14rem;
}

.boton:hover{
    background-color: var(--secundario);
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
.footer{
    padding: 1rem;
    text-align: center;
}

.footer-texto{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.alinear-derecha{
    display: flex;
    justify-content: end;
}